body{
    background-color: #252525;
}
.cabecalho{
    margin: 40px 110px 110px 110px;
}
.gifObito{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: inline-block;
}
nav{
    display: inline-block;
    width: 70%;
    margin-bottom: 10px;
    position: relative;
    top: -70px;
    left: 200px;
}
.navs {
    text-align: end;
    font-size: 30px; 
    text-decoration: antiquewhite;
    display: inline-block;
    margin: 0 10px 0 300px
}
.navs :hover{
    transition: 2s;
    color: salmon;
    cursor: pointer;
}
ul {
    display: inline-block;
}
.navs li{
    display: inline-block;
}
a {
    margin: 70px 10px;
    text-decoration: none;
    color: crimson;
}

h1{
    position: relative;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: aliceblue;
    font-family: 'Playfair Display', serif;
}

main {
    vertical-align: top;
    width: 90%;
    margin: 0 auto;
 
}

p {
    font-size:23px;
    color: aliceblue; 
    margin: 10px 10px 0 10px;
    padding: 30px 0px; 
    font-family: 'Xanh Mono', monospace; 
    
}
.textoprincipal{
    display: inline-block;
    width: 40%; 
    text-align: justify;
    vertical-align: top;
    margin: 0 5px;
}
.virtual {
    color: lightcoral;
}
.fisica{
    color: lightseagreen;
}
.foto1 {    
    width: 280px;
    height: 280px;
    border: 4px solid lightcoral; 
    border-radius: 30px;
}
.foto2{
    width: 280px;
    height: 280px;
    border: 4px solid lightseagreen; 
    border-radius: 30px;
}

.gostos{
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    color: aliceblue;
    font-family: 'Playfair Display', serif;
    margin-top: 30px;
    display: inline-block;
    
}
ul{
    list-style-type:square ;
}
.listaGostos{
    font-size: 23px;
    margin-left: 30px;
    font-family: 'Xanh Mono', monospace;
    color: aliceblue;
}

footer{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    text-transform: uppercase ;
    margin: 30px auto;
    background-color: #111;
    margin-bottom: -40px;
}
h2{
    padding: 50px 0;
}